<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
    <script src="/Content/scripts/jquery-3.2.1.js" attr="defer"></script>
    <script src="/Content/scripts/scripts.js"></script>
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <center>
      <h1>Hair Salon</h1>
      <h4>Details about the salon and the salon database and what you can do with the salon database.</h4>
      </center>
      <div class="renderBody">
        @RenderBody()
      </div>
    </div>
  </body>
</html>
