@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Clients</h3>
<ul>
  @if (Model.Count !=0)
  {
    @foreach(var clients in Model)
    {
      <li><a href="/clients/@clients.GetId()">@clients.GetClientName()</a></li>
    }
  }
  else
  {
    <p>This stylist currently has no clients.</p>
  }
</ul>

<h4><a href ="/clients/new">ADD A NEW CLIENT</a></h4>
<h4><a href="/">Return home</a></h4>
