@{
  Layout="Shared/_Layout.cshtml";
}
<center>
<div class="row">
  <div class="col-sm-12">
    <a href="/stylists"><button class="homebtn" type="button" name="button">OUR STYLISTS</button></a>
    <h3><a href="/stylists/new">ADD A NEW STYLIST</a></h3>
    <br>
    <a href="/clients"><button class="homebtn" type="button" name="button">OUR CLIENTS</button></a>
    <h3><a href="/clients/new">ADD A NEW CLIENT</a></h3>
  </div>
</center>
