@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Home Page</h3>

<p><a href="/stylists">VIEW ALL STYLISTS</a></p>
<p><a href="/clients">VIEW ALL CLIENTS</a></p>

<p><a href="/stylists/new">ADD A NEW STYLIST</a></p>
<p><a href="/clients/new">ADD A NEW CLIENT</a></p>
