@{
  Layout="Shared/_Layout.cshtml";
}
<center>
<h3><a href="/stylists">VIEW ALL STYLISTS</a></h3>
<h3><a href="/clients">VIEW ALL CLIENTS</a></h3>

<h3><a href="/stylists/new">ADD A NEW STYLIST</a></h3>
<h3><a href="/clients/new">ADD A NEW CLIENT</a></h3>
</center>
