@{
  Layout="Shared/_Layout.cshtml";
}

<h3>STYLISTS</h3>
<ul>
  @if (Model.Count !=0)
  {
    @foreach(var stylist in Model)
    {
      <li><a href="/stylists/@stylist.GetId()">@stylist.GetStylistName()</a></li>
    }
  }
  else
  {
    <p>We currently don't have any stylists working in our salon.</p>
  }
</ul>
<!-- <h4><a href ="/stylists/new">Add a new stylist!</a></h4> -->
<h4><a href="/">Return home</a></h4>
